{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": [
          "last 1 version"
        ]
      }
    ]
  ],
  "plugins": ["babel-plugin-jsx-control-statements"]
}