<div class="config-block">
  <button on:click="$set({showConfig: true})" class="config">
    Config
  </button>
  <button on:click="$set({showConfigQuotes: true})" class="config">
    Quotes
  </button>
</div>

<style>
  .config-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
  }
  .config {
    position: relative;
    border-radius: 12px 0 0 12px;
    width: 100px;
    color: #000;
    font-size: 1.17rem;
  }
  .config:hover {
    background-color: #000;
    color: #fff;
  }
</style>
