<div class="config">
  <div class="site-list">
    <div class="top-buttons">
      <button class="close" on:click="closeConfig()">&#10006;</button>
    </div>
    <div class="main-content">
      <div class="config-sites">
        <span class="config-sites-title">Config</span>
        <ul class="config-list">
          {#each sites as site, idx}
            <li class="config-list-option">
              <span>{idx+1}</span>
              <input type="text" placeholder="Enter site title" on:input="updateSite(idx, 'title', event.target.value)" value="{site.title}">
              <input type="text" placeholder="Enter URL" on:input="updateSite(idx, 'url', event.target.value)" value="{site.url}">
              <input type="text" placeholder="Enter Character" on:input="updateSite(idx, 'character', event.target.value)" value="{site.character}">
              <input type="color" on:input="updateSite(idx, 'color', event.target.value)" value="{site.color}">
            </li>
          {:else}
            <li>No favourites as of now</li>
          {/each}
        </ul>
      </div>
    </div>
    <div class="bottom-buttons">
      <button on:click="handleClose()">Save & Close</button>
      <button on:click="exportSites()">Export</button>
      <label for="importFile" class="import-button">Import</label>
      <input type="file" name="importFile" id="importFile" on:change="importSites()">
    </div>
  </div>
</div>

<script>
  export default {
    // TODO Validate max-length of title, char
    methods: {
      closeConfig() {
        this.store.set({showConfig: false});
      },
      exportSites() {
        this.store.exportSites();
      },
      handleClose() {
        this.saveConfig();
      },
      saveConfig() {
        this.store.saveSites();
        this.closeConfig();
      },
      importSites() {
        var file = document.getElementById('importFile').files[0];
        if (file) {
          var reader = new FileReader();
          reader.readAsText(file, 'UTF-8');
          reader.onload = (evt) => {
            const sites = JSON.parse(evt.target.result);
            this.store.importSites(sites);
          };
          reader.onerror = () => {
            // eslint-disable-next-line no-console
            console.log('error reading file');
          };
        }
        this.closeConfig();
      },
      updateSite(idx, property, value) {
        clearTimeout(debounce);
        var debounce = setTimeout(() => {
          this.store.updateSite(idx, property, value);
        }, 100);
      }
    }
  };
</script>

<style>
  .main-content {
    height: 50vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
  .notifications {
    margin-bottom: 5px;
  }
  .notifications span {
    margin-right: 4px;
  }
  .config-sites-title {
    display: block;
    margin-bottom: 5px;
  }
  .config {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%
  }
  .site-list{
    padding: 10px 15px;
    border: 2px solid;
    margin: 100px auto;
    width: fit-content;
    width: -moz-fit-content;
    background-color: #fcfcfc;
  }
  .import-button {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem;
    margin: 0 0 0.5rem 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
  }
  .bottom-buttons input[type=file] {
    visibility: hidden;
  }
  .config-list {
    position: relative;
    margin: 0;
    margin-top: 1px;
    padding: 0;
    list-style: none;
  }
  .config-list-option {
    line-height: 32px;
  }
  .config-list-option input[type="text"] {
    width: 200px;
    padding: 7px 5px;
    text-indent: 2px;
    background-color: #fff;
  }
  .config-list-option input[type="color"] {
    height: 32px;
  }
  .config-list-option span {
    display: inline-block;
    margin-right: 2px;
    width: 16px;
  }
  .notifications {
    display: inline-block;
  }
</style>
