<div class="config">
  <div class="site-list">
    <div class="top-buttons">
      <button class="close" on:click="closeConfig()">&#10006;</button>
    </div>
    <span>Enter quotes each seperated by a new line</span>
    <textarea class="quote-area" on:input="updateQuotes(event.target.value)">{quotes}</textarea>
    <div class="bottom-buttons">
      <button on:click="handleClose()">Save Quotes</button>
    </div>
  </div>
</div>

<script>
    export default {
        methods: {
            updateQuotes(quotes) {
              clearTimeout(debounce);
              var debounce = setTimeout(() => {
                this.store.updateQuotes(quotes);
              }, 100);
            },
            handleClose() {
                this.store.saveQuotes();
                this.store.set({showConfigQuotes: false});
            },
            closeConfig() {
                this.store.set({showConfigQuotes: false});
            },
        }
    }
</script>

<style>
  .config {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%
  }
  .site-list{
    padding: 10px 15px;
    border: 2px solid;
    margin: 100px auto;
    width: fit-content;
    width: -moz-fit-content;
    background-color: #fcfcfc;
  }
  .quote-area{
    margin: 20px 0;
    height: fit-content;
    width: 100%;
    min-height: 300px;
  }
</style>
