<div class="page-tile-set">
  {#each sites as site, idx}
    <Tile tile={site} on:removeTile="handleRemove(idx)" on:select="handleClick(idx, site.url)"/>
  {:else}
    <Tile tile=""/>
  {/each}
</div>

<script>
  import api from '../utils/api.js';

  export default {
    components: {
      Tile: './Tile.html'
    },
    methods: {
      handleRemove(idx) {
        event.stopPropagation();
        this.store.get().sites[idx] = {
          title: '',
          url: '',
          color: api.colors[Math.floor(Math.random() * 10)],
          character: '-'
        };
        this.store.saveSites();
        this.fire('resetPage');
      },
      handleClick(idx, url) {
        if(!url || url === '') {
          this.store.set({showQuickConfig: true, quickConfigIdx: idx, quickConfigSite: this.store.get().sites[idx]});
        }
        else {
          window.location = url;
        }
      }
    }
  };
</script>

<style>
  .page-tile-set {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50vw;
    margin: 20px;
    padding: 0;
    font-size: 1.3rem;
  }
</style>
