<div class="page-tile-set">
  {#each sites as site, idx}
    <Tile tile={site} on:removeTile="handleRemove(idx)" on:select="handleClick(idx, site.url)"/>
  {:else}
    <Tile tile=""/>
  {/each}
</div>

<script>
  export default {
    components: {
      Tile: './Tile.html'
    },
    methods: {
      handleRemove(idx) {
        event.stopPropagation();
        this.store.deleteSite(idx);
        // this.store.saveSites();
      },
      handleClick(idx, url) {
        if(!url || url === '') {
          this.store.set({
            showQuickConfig: true,
            quickConfigIdx: idx,
            quickConfigSite: this.store.get().sites[idx]
          });
        }
        else {
          window.location = url;
        }
      }
    }
  };
</script>

<style>
  .page-tile-set {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    padding: 0;
    font-size: 1.3rem;
  }
  @media only screen and (min-width: 1000px) {
    .page-tile-set {
      width: 60vw;
    }
  }
</style>
