<div class="page-tile" on:click="fire('select', tile.url)" >
  <div class="page-tile-block" style="background: {tile.color}">
    <div class="top-buttons">
      <button class="close" on:click="fire('removeTile')">
        {#if tile.url !== ''}
          &#10006;
        {/if}
      </button>
    </div>
    <span class="page-tile-char">{tile.character}</span>
    <span class="page-tile-title">{tile.title}</span>
  </div>
</div>

<style>
  .page-tile-char {
    display: block;
    margin: 5px auto;
    padding: 2px;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
  }
  .page-tile-title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding: 20px 0;
  }
  .page-tile-block {
    padding: 10px;
    height: 130px;
    border-radius: 15px;
    transition: transform 100ms ease;
  }
  .page-tile-block:hover {
    transform: scale(1.2);
  }
  .page-tile {
    color: #000;
  }
  .page-tile:hover {
    color: #000;
    text-decoration: none;
  }
  .page-tile:visited {
    color: #000;
  }
</style>
